In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("healthcare-dataset-stroke-data.csv")

In [4]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
data["bmi"].fillna(data["bmi"].mean(),inplace=True)

In [7]:
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
age                  5110 non-null float64
hypertension         5110 non-null int64
heart_disease        5110 non-null int64
ever_married         5110 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
bmi                  5110 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.1+ KB

In [12]:
x=data.iloc[:,1:11]
y=data.iloc[:,11]

In [13]:
x.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked

In [14]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: stroke, dtype: int64

In [15]:
x=data.iloc[:,1:11].values
y=data.iloc[:,11].values

In [16]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [17]:
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,4,5,6,9])],remainder="passthrough")

In [18]:
x=ct.fit_transform(x)

In [19]:
x.shape

(5110, 21)

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [23]:
ann=Sequential()

In [24]:
ann.add(Dense(10,kernel_initializer="random_uniform",activation="relu"))

WARNING:tensorflow:From C:\Users\Badrinath\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [25]:
ann.add(Dense(20,kernel_initializer="random_uniform",activation="relu"))

In [26]:
ann.add(Dense(1,kernel_initializer="random_uniform",activation="sigmoid"))

In [27]:
ann.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [28]:
ann.fit(x_train,y_train,batch_size=32,epochs=50)

WARNING:tensorflow:From C:\Users\Badrinath\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/50
4088/4088 [==============================] - 1s 128us/sample - loss: 0.4893 - acc: 0.9511
Epoch 2/50
4088/4088 [==============================] - 0s 52us/sample - loss: 0.1780 - acc: 0.9523
Epoch 3/50
4088/4088 [==============================] - 0s 49us/sample - loss: 0.1650 - acc: 0.9523
Epoch 4/50
4088/4088 [==============================] - 0s 48us/sample - loss: 0.1602 - acc: 0.9523
Epoch 5/50
4088/4088 [==============================] - 0s 47us/sample - loss: 0.1579 - acc: 0.9523
Epoch 6/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1551 - acc: 0.9523
Epoch 7/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1531 - acc: 0.9523
Epoch 8/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1514 - acc: 0.9523
Epoch 9/50
4088/4088 [==============================] - 0s 53us/sample - loss: 0.1499 - acc: 0.9523
Epoch 10/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1489 - acc: 0.9523
Epoch 11/50
4088/4088 [==============================] - 0s 53us/sample - loss: 0.1476 - acc: 0.9523
Epoch 12/50
4088/4088 [==============================] - 0s 52us/sample - loss: 0.1466 - acc: 0.9523
Epoch 13/50
4088/4088 [==============================] - 0s 57us/sample - loss: 0.1471 - acc: 0.9523
Epoch 14/50
4088/4088 [==============================] - 0s 65us/sample - loss: 0.1455 - acc: 0.9523
Epoch 15/50
4088/4088 [==============================] - 0s 54us/sample - loss: 0.1450 - acc: 0.9523
Epoch 16/50
4088/4088 [==============================] - 0s 56us/sample - loss: 0.1447 - acc: 0.9523
Epoch 17/50
4088/4088 [==============================] - 0s 66us/sample - loss: 0.1438 - acc: 0.9523
Epoch 18/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1440 - acc: 0.9523
Epoch 19/50
4088/4088 [==============================] - 0s 54us/sample - loss: 0.1438 - acc: 0.9523
Epoch 20/50
4088/4088 [==============================] - 0s 56us/sample - loss: 0.1434 - acc: 0.9523
Epoch 21/50
4088/4088 [==============================] - 0s 57us/sample - loss: 0.1431 - acc: 0.9523
Epoch 22/50
4088/4088 [==============================] - 0s 56us/sample - loss: 0.1428 - acc: 0.9523
Epoch 23/50
4088/4088 [==============================] - 0s 60us/sample - loss: 0.1430 - acc: 0.9523
Epoch 24/50
4088/4088 [==============================] - 0s 62us/sample - loss: 0.1423 - acc: 0.9523
Epoch 25/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1421 - acc: 0.9523
Epoch 26/50
4088/4088 [==============================] - 0s 54us/sample - loss: 0.1416 - acc: 0.9523
Epoch 27/50
4088/4088 [==============================] - 0s 65us/sample - loss: 0.1417 - acc: 0.9523
Epoch 28/50
4088/4088 [==============================] - 0s 65us/sample - loss: 0.1416 - acc: 0.9523
Epoch 29/50
4088/4088 [==============================] - 0s 63us/sample - loss: 0.1412 - acc: 0.9523
Epoch 30/50
4088/4088 [==============================] - 0s 57us/sample - loss: 0.1413 - acc: 0.9523
Epoch 31/50
4088/4088 [==============================] - 0s 56us/sample - loss: 0.1409 - acc: 0.9523
Epoch 32/50
4088/4088 [==============================] - 0s 55us/sample - loss: 0.1409 - acc: 0.9523
Epoch 33/50
4088/4088 [==============================] - 0s 47us/sample - loss: 0.1409 - acc: 0.9523
Epoch 34/50
4088/4088 [==============================] - 0s 46us/sample - loss: 0.1405 - acc: 0.9523
Epoch 35/50
4088/4088 [==============================] - 0s 45us/sample - loss: 0.1404 - acc: 0.9523
Epoch 36/50
4088/4088 [==============================] - 0s 43us/sample - loss: 0.1402 - acc: 0.9518
Epoch 37/50
4088/4088 [==============================] - 0s 41us/sample - loss: 0.1403 - acc: 0.9521
Epoch 38/50
4088/4088 [==============================] - 0s 37us/sample - loss: 0.1397 - acc: 0.9518
Epoch 39/50
4088/4088 [==============================] - 0s 34us/sample - loss: 0.1398 - acc: 0.9516
Epoch 40/50
4088/4088 [==============================] - 0s 33us/sample - loss: 0.1397 - acc: 0.9521
Epoch 41/50
4088/4088 [==============================] - 0s 33us/sample - loss: 0.1398 - acc: 0.9518
Epoch 42/50
4088/4088 [==============================] - 0s 34us/sample - loss: 0.1392 - acc: 0.9521
Epoch 43/50
4088/4088 [==============================] - 0s 34us/sample - loss: 0.1391 - acc: 0.9518
Epoch 44/50
4088/4088 [==============================] - 0s 30us/sample - loss: 0.1389 - acc: 0.9523
Epoch 45/50
4088/4088 [==============================] - 0s 33us/sample - loss: 0.1386 - acc: 0.9525
Epoch 46/50
4088/4088 [==============================] - 0s 33us/sample - loss: 0.1389 - acc: 0.9523
Epoch 47/50
4088/4088 [==============================] - 0s 38us/sample - loss: 0.1387 - acc: 0.9525
Epoch 48/50
4088/4088 [==============================] - 0s 36us/sample - loss: 0.1384 - acc: 0.9523
Epoch 49/50
4088/4088 [==============================] - 0s 33us/sample - loss: 0.1384 - acc: 0.9528
Epoch 50/50
4088/4088 [==============================] - 0s 34us/sample - loss: 0.1381 - acc: 0.9528

In [29]:
ypred=ann.predict(x_test)

In [30]:
ypred

array([[5.0837845e-01],
       [1.7881393e-07],
       [6.0066521e-02],
       ...,
       [7.0067346e-03],
       [1.4563730e-01],
       [4.0648007e-03]], dtype=float32)

In [46]:
y_test

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [47]:
yy=ann.predict(sc.transform(ct.transform([["Male",67.0,0,1,"Yes","Private","Urban",228.69,36.6,"formerly smoked"]])))

yy

array([[0.26561478]], dtype=float32)

In [53]:
yy=ann.predict(sc.transform(ct.transform([["Male",55,0,0,"Yes","Private","Urban",72.03,37,"smokes"]])))
yy>0.1

array([[False]])

In [54]:
yy=ann.predict(sc.transform(ct.transform([["Female",63,0,0,"Yes","Self-employed","Rural",75.93,34.7,"formerly smoked"]])))
yy>0.1

array([[False]])